/problema1/Problema01/nbproject/private/
/problema1/Problema01/Problema01/nbproject/private/
/problema1/Problema01/Problema01/build/
/problema2/JavaApplication115/nbproject/private/
/problema2/JavaApplication115/build/
/problema3/ProblemaTres/nbproject/private/
/problema3/ProblemaTres/build/
/problema4/ProblemaCuatro/nbproject/private/
/problema4/ProblemaCuatro/build/
